<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="RunInlinePHP" path="*.htm" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Unspecified"/>
    </handlers>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="403" prefixLanguageFilePath="" path="http://mobile.tallyrec.com" responseMode="Redirect"/>
      <error statusCode="404" prefixLanguageFilePath="" path="http://mobile.tallyrec.com" responseMode="Redirect"/>
    </httpErrors>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.php"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Support@TallyRec.com">
        <network host="localhost"/>
        <specifiedPickupDirectory pickupDirectoryLocation="E:\inetpub\mailroot\Pickup"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>